---
const projects = [
{
    title:'INNOVATEProweb - OCR',
    description:'Este proyecto es una plantilla web diseñada para INNOVATEProweb para mostrar a posibles clientes las capacidades y el estilo visual en el desarrollo de sitios web. La plantilla es reutilizable y fácilmente personalizable para adaptarse a diferentes necesidades de clientes y proyectos.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'INNOVATEProweb - manual de marca',
    description:'Este proyecto es una plantilla web diseñada para INNOVATEProweb para mostrar a posibles clientes las capacidades y el estilo visual en el desarrollo de sitios web. La plantilla es reutilizable y fácilmente personalizable para adaptarse a diferentes necesidades de clientes y proyectos.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'INNOVATEProweb - website oficial',
    description:'Este proyecto es una plantilla web diseñada para INNOVATEProweb para mostrar a posibles clientes las capacidades y el estilo visual en el desarrollo de sitios web. La plantilla es reutilizable y fácilmente personalizable para adaptarse a diferentes necesidades de clientes y proyectos.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'Todo Chicos - Plantilla wordpress',
    description:'Este proyecto es una plantilla web diseñada para INNOVATEProweb para mostrar a posibles clientes las capacidades y el estilo visual en el desarrollo de sitios web. La plantilla es reutilizable y fácilmente personalizable para adaptarse a diferentes necesidades de clientes y proyectos.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'NutriFit - Plantilla wordpress',
    description:'Este proyecto es una plantilla web diseñada para INNOVATEProweb para mostrar a posibles clientes las capacidades y el estilo visual en el desarrollo de sitios web. La plantilla es reutilizable y fácilmente personalizable para adaptarse a diferentes necesidades de clientes y proyectos.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'Macoretta repuestos - con juan pablo',
    description:'Este proyecto es una plantilla web diseñada para INNOVATEProweb para mostrar a posibles clientes las capacidades y el estilo visual en el desarrollo de sitios web. La plantilla es reutilizable y fácilmente personalizable para adaptarse a diferentes necesidades de clientes y proyectos.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'Rinc[on Creativo] - Plantilla web',
    description:'Este proyecto es una plantilla web diseñada para INNOVATEProweb para mostrar a posibles clientes las capacidades y el estilo visual en el desarrollo de sitios web. La plantilla es reutilizable y fácilmente personalizable para adaptarse a diferentes necesidades de clientes y proyectos.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'ZONA - Plantilla web',
    description:'Este proyecto es una plantilla web diseñada para INNOVATEProweb para mostrar a posibles clientes las capacidades y el estilo visual en el desarrollo de sitios web. La plantilla es reutilizable y fácilmente personalizable para adaptarse a diferentes necesidades de clientes y proyectos.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'Ortodoncista Carolina Danovara - Ortodoncia La Plata',
    description:'El Sitio Web de Ortodoncia Carolina Danovara es una plataforma en línea de la Dra. Carolina Danovara, especialista en ortodoncia, que tiene el propósito de brindar información detallada y servicios de alta calidad en el campo de la ortodoncia. Este sitio web es una herramienta esencial para pacientes actuales y potenciales que buscan aprender sobre opciones de tratamiento de ortodoncia y acceder a servicios profesionales de ortodoncia.',
    link:'https://ortodonciacarolinadanovara.netlify.app/',
    github:'https://github.com/veronicaagarcia/OdontologaDanovara',
    image:'/projects/ortodonciaCd.webp',
    tags:['JavaScript', 'Astro', 'React', 'Tailwind CSS']
},
{
    title:'Edificio Farfalle - Alquiler departamentos temporales',
    description:'Se desarrolló el sitio web, utilizando el diseño proporcionado por el cliente y agregando un video de bienvenida junto con algunas animaciones. El sitio muestra de manera clara la ubicación del edificio, sus comodidades y facilita el contacto directo para estadías cortas.',
    link:'https://veronicaagarcia.github.io/edificioFarfalle/',
    github:'https://github.com/veronicaagarcia/edificioFarfalle',
    image:'/projects/edificioFarfalle.webp',
    tags:['JavaScript', 'TypeScript', 'Vite', 'React', 'Tailwind CSS'
    ]
},
{
    title:'T-Acerco - No Country',
    description:'Segunda simulación laboral tech, colaborando en un equipo multidisciplinario construyendo una solución con tecnología. T-Acerco, la plataforma definitiva para crear y unirse a eventos en tu localidad. En T-Acerco, los usuarios tienen la libertad de organizar una amplia variedad de eventos y compartirlos con la comunidad. Ya sea que busquen actividades por zona geográfica o por categoría de evento, la web conecta con personas que comparten intereses y mantienen informado sobre lo que sucede cerca del usuario.',
    link:'https://s14-04-m-node-react-frontend.vercel.app/',
    github:'https://github.com/No-Country/s14-04-m-node-react',
    image:'/projects/tAcerco.png',
    tags:['JavaScript', 'Vite', 'React', 'Tailwind CSS']
},
{
    title:'MedConnect - No Country',
    description:'Primera simulación laboral tech, colaborando en un equipo multidisciplinario construyendo una solución con tecnología. MedConnect surge como una plataforma de telemedicina centrada en el usuario. Para los pacientes, simplifica la gestión de citas, el acceso a historiales médicos y la recepción de atención. Para los médicos, proporciona un flujo de trabajo simplificado que agiliza el acceso a la información del paciente y la gestión de citas.',
    link:'https://65eb5c2ca77394d626f52e05--dreamy-brioche-67f49a.netlify.app/',
    github:'https://github.com/No-Country/c16-66-ft-node',
    image:'/projects/MedConnect.png',
    tags:['JavaScript', 'Vite', 'React', 'Tailwind CSS']
},
{
    title:'The DoGame: Adivina la raza del perro',
    description:'Sumérgete en este divertido y educativo juego donde tu objetivo es adivinar la raza del perro. Con una interfaz simple y amigable, The DoGame ofrece una experiencia entretenida para todos los amantes de los perros. Descubre datos curiosos y aleatorios sobre perros cada vez que juegas.  Construido en inglés y español.',
    link:'https://veronicaagarcia.github.io/TheDoGame/',
    github:'https://github.com/veronicaagarcia/TheDoGame',
    image:'/projects/dogame.png',
    tags:['JavaScript', 'TypeScript', 'Vite', 'React', 'CSS']
}
]
---
<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
{  
    projects.map(item => (
        <article class="group backdrop-blur-lg mb-12 w-full h-auto mx-auto border-2 border-secondary-light dark:border-secondary-dark rounded-xl bg-background-light dark:bg-background-dark transition-all duration-300 overflow-hidden">
            <div class="relative overflow-hidden">
                <img class="w-full h-auto object-cover transition-all duration-300 ease-in-out group-hover:scale-105" src={item.image} alt={`Imagen del proyecto ${item.title}`} />
                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-background-light dark:to-background-dark opacity-0 group-hover:opacity-70 transition-all duration-300"></div>
            </div>
            <div class="p-5">
                <h3 class="text-center mb-4 text-lg lg:text-xl font-semibold text-primary-light dark:text-primary-dark">{item.title}</h3>
                <div class="max-h-0 overflow-hidden transition-all duration-300 group-hover:max-h-96">
                    <p class="text-sm text-text-light dark:text-text-dark mb-4">{item.description}</p>
                    <ul class="flex justify-evenly flex-wrap md:justify-around mb-6">
                        {item.tags.map(tag => (
                        <li class="block mb-2 text-sm lg:text-base font-medium leading-none text-text-light dark:text-text-dark mr-1 md:mr-0">{tag}</li>
                    ))} 
                    </ul>
                    <div class="flex justify-center space-x-4">
                        <a href={item.link} target="_blank" rel="noopener noreferrer" class="bg-primary-light dark:bg-primary-dark text-text-light dark:text-text-dark text-sm font-medium px-4 py-2 rounded-full hover:bg-accent-light dark:hover:bg-accent-dark transition-all duration-300">Ver proyecto</a>
                        <a href={item.github} target="_blank" rel="noopener noreferrer" class="bg-secondary-light dark:bg-secondary-dark text-text-light dark:text-text-dark text-sm font-medium px-4 py-2 rounded-full hover:bg-primary-light dark:hover:bg-primary-dark transition-all duration-300">Ver código</a>
                    </div>
                </div>
            </div>
        </article>)
    )
}
</div>